{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <script defer src="{% static 'main.js' %}"></script>

  <!-- <link rel="stylesheet" href="./../static/main.css"> -->
  <!-- <script defer src="./../static/main.js"></script> -->
</head>
<body>
  
  <a href="{% url 'form' %}">Ir al Formulario</a>

  <div class="app">
    <h1 class="title">Contador</h1>
    <span class="counter">0</span>
    <button class="button">Click</button>
  </div>

</body>
</html>